<!DOCTYPE html>
<html lang="ru_RU" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="stylesheet" href="/CSS/register_login_style.css">
        <script src="/JS/register_login_js.js"></script>
        <script src="/JS/smoothscroll.js"></script>
    </head>
    <body>
        <header class="header_main">
            <div class="main_container">
                <div class="navigation_container">
                    <div class="logo">
                        <a href="#Header_site">
                            <img height="75" width="65" src="images/1.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <a class="auth_signin" onclick="document.getElementById('id01').style.display='block'"
                        style="width:auto;">Вход</a>
                        <div id="id01" class="modal">
                            <form class="modal-content animate loginform">
                            <div class="imgcontainer">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                            </div>
                              <div class="container">
                                <label for="uname"><b>Логин</b></label>
                                <input type="text" placeholder="Введите логин" name="login" required>

                                <label for="psw"><b>Пароль</b></label>
                                <input type="password" placeholder="Введите пароль" name="psw" required>

                                <hr>

                                <button type="submit">Войти</button>
                                <label>
                                  <input type="checkbox" checked="checked" name="remember"> Запомни меня
                                </label>
                              </div>

                              <div class="container" style="background-color:#f1f1f1">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Отмена</button>
                                <span class="psw">Забыл <a href="#">пароль</a>?</span>
                              </div>
                            </form>
                        </div>
                        <a class="auth_signup" onclick="document.getElementById('id02').style.display='block'"
                        style="width:auto;">Регистрация</a>
                        <div id="id02" class="modal">
                            <form class="modal-content animate registerform">
                            <div class="imgcontainer">
                                <h1 class="main_title">Регистрация</h1>
                                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
                            </div>
                              <div class="container" style="font-size: 20px">
                                <p>Пожалуйста заполните форму, чтобы создать аккаунт.</p>
                                <hr>
                                <label for="login"><b>Логин</b></label>
                                <input type="password" placeholder="Введите пароль" name="psw" required>

                                <label for="email"><b>Почта</b></label>
                                <input type="text" placeholder="Введите почту" name="email" required>

                                <label for="psw"><b>Пароль</b></label>
                                <input type="password" placeholder="Введите пароль" name="psw" required>

                                <label for="psw"><b>Повторите пароль</b></label>
                                <input type="password" placeholder="Повторите пароль" name="psw" required>

                                <hr>

                                <button type="submit">Создать аккаунт</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
