<!DOCTYPE html>
<html lang="ru_RU" dir="ltr">
    <head>
        <link rel="stylesheet" href="/CSS/style.css">
        <script src="/JS/smoothscroll.js"></script>
    </head>
    <body>
        <header class="header_main">
            <div class="main_container">
                <div class="navigation_container">
                    <div class="logo">
                        <a href="#Header_site">
                            <img height="75" width="65" src="/Images/1.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <a href="login" class="auth_signin">Login</a>
                        <a href="signup" class="auth_signup">Sign up</a>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
