<!DOCTYPE html>
<html lang="ru_RU" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="stylesheet" href="/CSS/register_login_style.css">
        <script src="/JS/register_login_js.js"></script>
        <script src="/JS/smoothscroll.js"></script>
        <script src="/JS/scripts.js"></script>
    </head>
    <body>
        <script>
            function openid01() { document.getElementById('id01').style.display='block'; }
            function openid02() { document.getElementById('id02').style.display='block'; }
            function logout() { window.location.replace('logout'); }
            function empty() {}
        </script>
        <header class="header_main">
            <div class="main_container">
                <div class="navigation_container">
                    <div class="logo">
                        <a href="#Header_site">
                            <img height="75" width="65" src="images/1.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <a id ='log' class="auth_signin" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Вход</a>
                        <div id="id01" class="modal">
                            <form class="modal-content animate loginform" action="login" method="post">
                            <div class="imgcontainer">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                            </div>
                              <div class="container">
                                <label for="login"><b>Логин</b></label>
                                <input type="text" placeholder="Введите логин" name="login" required>

                                <label for="psw"><b>Пароль</b></label>
                                <input type="password" placeholder="Введите пароль" name="psw" required>

                                <hr>
                                {% if error_login %}
                                  <p class="error-msg">{{ error_login }}</p>
                                {% endif %}

                                <button type="submit">Войти</button>
                                <label>
                                  <input type="checkbox" checked="checked" name="remember"> Запомни меня
                                </label>
                              </div>

                              <div class="container" style="background-color:#f1f1f1">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Отмена</button>
                                <span class="psw">Забыл <a href="./password.html">пароль</a>?</span>
                              </div>
                            </form>
                        </div>
                        <a id='reg' class="auth_signup" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Регистрация</a>
                        <div id="id02" class="modal">
                            <form class="modal-content animate registerform" action="registration" method="post">
                            <div class="imgcontainer">
                                <h1 class="main_title">Регистрация</h1>
                                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
                            </div>
                              <div class="container" style="font-size: 20px">
                                <p>Пожалуйста заполните форму, чтобы создать аккаунт.</p>
                                <hr>
                                <label for="login"><b>Логин</b></label>
                                <input type="text" placeholder="Введите логин" name="login" required>

                                <label for="email"><b>Почта</b></label>
                                <input type="text" placeholder="Введите почту" name="email" required>

                                <label for="name"><b>Имя</b></label>
                                <input type="text" placeholder="Введите имя" name="name" required>

                                <label for="psw1"><b>Пароль</b></label>
                                <input type="password" placeholder="Введите пароль" name="psw1" required>

                                <label for="psw2"><b>Повторите пароль</b></label>
                                <input type="password" placeholder="Повторите пароль" name="psw2" required>

                                <hr>
                                {% if error_reg %}
                                  <p class="error-msg">{{ error_reg }}</p>
                                {% endif %}

                                <button type="submit">Создать аккаунт</button>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="back">
                        <a href="javascript: history.go(-1)" class="feedback">вернуться</a>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
        <script>
            window.getCookie = function(name) {
                var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
                if (match) return match[2];
            };

            function decode_flask_cookie(val) {
                if (typeof val === 'undefined') return "{}";
                if (val.indexOf('\\') === -1) return val;
                val = val.slice(1, -1).replace(/\\"/g, '"');
                val = val.replace(/\\(\d{3})/g, function(match, octal) {
                    return String.fromCharCode(parseInt(octal, 8));
                });
                return val.replace(/\\\\/g, '\\');
            }

            var cookie = JSON.parse(decode_flask_cookie(getCookie('current_user')));
            if ('name' in cookie) {
                document.getElementById('log').textContent = 'Выход';
                document.getElementById('reg').innerText = unescape(cookie['name']);
                document.getElementById('log').classList.remove('auth_signin');
                document.getElementById('reg').classList.remove('auth_signup');
                document.getElementById('log').classList.add('text_style');
                document.getElementById('reg').classList.add('text_style');
                document.getElementById('log').onclick = logout;
                document.getElementById('reg').onclick = empty;
            }
            else {
                document.getElementById('log').textContent = 'Вход';
                document.getElementById('reg').textContent = 'Регистрация';
                document.getElementById('log').classList.remove('text_style');
                document.getElementById('reg').classList.remove('text_style');
                document.getElementById('log').classList.add('auth_signin');
                document.getElementById('reg').classList.add('auth_signup');
                document.getElementById('log').onclick = openid01;
                document.getElementById('reg').onclick = openid02;
            }
            initTextArea()
            {% if error_login %}
                document.getElementById('log').click();
            {% endif %}
            {% if error_reg %}
                document.getElementById('reg').click();
            {% endif %}
        </script>
    </body>
</html>
