{% extends "base.html" %}

{% block content %}
<head>
    <title>Урокииииии</title>
    <link rel="stylesheet" href="/CSS/lesson-style.css">
    <link rel="stylesheet" href="/CSS/pensilicon-style.css">
</head>
<section>
    <div class="lesson-container">
        <h1 class="main_title" style="margin-top: 10%;">Урокииииии</h1>
    </div>
    {% if not course %}
        <p>Курс не найден :(</p>
    {% else %}
    <center>
        <div>
            <h1 class="discriprion">{{ course['description'] }}</h1>
        </div>
    </center>
    <div class="lessons">
        <ul>
            {% for lesson in course['lessons'] %}
                <li class="lesson"><a href="lesson?course_id={{ course['id'] }}&lesson_id={{ lesson['id'] }}" class="lesson_url">{{ lesson['name'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <center>
        <a href="./made-lesson.html"><img src="../static/Images/icon-pencil.png" class="icon-pencil"></a>
    </center>
    {% endif %}
    <div class="line"></div>
</section>
{% endblock %}
