{% extends "base.html" %}

{% block content %}
<head>
    <title>Курсыыыыыыыыы</title>
    <link rel="stylesheet" href="/CSS/cource-style.css">
</head>
<section>
    <div class="cource_container">
        <h1 class="main_title" style="margin-top: 10%;">Курсыыыыыыыыы</h1>
    </div>
    <div class="cources">
        <ul>
            {% for i in cources %}
                <li class="cource"><a href="{{ i[1] }}" class="cource_url">{{ i[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}