{% extends "base.html" %}

{% block content %}

<section id="Header_site" style="height: 84px;"></section>
<section class="section">
    <div class="main_container">
        <h1 class="main_title">Бот от Артёма здесь</h1>
    </div>
</section>  

    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
    <p>/</p>
{% endblock %}
