{% extends "base.html" %}

{% block content %}
<section id="Header_site" style="height: 84px;"></section>
<section class="section">
    <div class="main_container">
        <h1 class="main_title">Сайт от Артёма</h1>
    </div>
</section>
<head>
    <link rel="stylesheet" href="/CSS/cource-style.css">
    <link rel="stylesheet" href="/CSS/pensilicon-style.css">
</head>
<section>
    <div class="cource_container">
        <h1 class="main_title">Курсы</h1>
    </div>
    {% if courses.__len__() %}
    <div class="cources">
        <ul>
            {% for course in courses %}
                <li class="course"><a href="/course?course_id={{ course['id'] }}" class="cource_url">{{ course['name'] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>У вас нет доступных курсов :(</p>
    {% endif %}
    <center>
        <a href="./made-course.html"><img src="../static/Images/icon-pencil.png" class="icon-pencil"></a>
    </center>
    <div class="line"></div>
</section>
{% endblock %}
