{% extends "base.html" %}

{% block content %}
<head>
    <title>Заданияяяя</title>
    <link rel="stylesheet" href="/CSS/tasks-style.css">
    <link rel="stylesheet" href="/CSS/pensilicon-style.css">
</head>
<section>
    <div class="tasks_container">
        <h1 class="main_title" style="margin-top: 10%">Заданияяяя</h1>
    </div>
    <div class="slava_s4">
        <div>
            <h1 class="name-tasks">Названия заданий:</h1>
            <div class="tasks">
                <ul>
                    {% for task in lesson['tasks'] %}
                        <li class="task"><a href="task?course_id={{ course_id }}&lesson_id={{ lesson['id'] }}&task_id={{ task['id'] }}" class="task_url">{{ task['name'] }}</a></li>
                    {% endfor %} 
                </ul>
            </div>
        </div>
        <div>
            <h1 class="name-hrefs">Полезные ссылки:</h1>
            <div class="hrefs">
                <ul>
                    {% for link in lesson['links'] %}
                        <li class="href"><a href="{{ link['link'] }}" class="href_url">{{ link['title'] }}</a></li>
                    {% endfor %} 
                </ul>
            </div>
        </div>
    </div>
    <center>
        <a href="./made-tasks.html"><img src="../static/Images/icon-pencil.png" class="icon-pencil"></a>
    </center>
    <div class="line"></div>
</section>
{% endblock %}