{% extends "base.html" %}

{% block content %}
<head>
    <title>Курсыыыыыы</title>
    <link rel="stylesheet" href="/CSS/made-something.css">
</head>
<section>
    <center>
        <div class="container">
            <form class="modal-content made courseform">
                <label for="login" class="name"><b>название курса</b></label>
                <textarea class="js-textarea" placeholder="Введите название курса" name="name" required></textarea>

                <label for="email" class="discription"><b>описание курса</b></label>
                <textarea class="js-textarea" placeholder="Введите описание курса" name="name" required></textarea>
            </form>
        </div>
        <div class="button-container">
            <button onclick="" class="button">Добавить</button>
        </div>
    </center>
</section>
{% endblock %}
