{% extends "base.html" %}

{% block content %}
<head>
    <title>ссылкиииииии</title>
    <link rel="stylesheet" href="/CSS/made-something.css">
</head>
<section>
    <center>
        <div class="container">
            <form class="modal-content made hrefsform">

                <label for="login" class="name"><b>название ссылки</b></label>
                <textarea class="js-textarea" placeholder="Введите название ссылки" name="name" required></textarea>

                <label for="login" class="name"><b>вставьте ссылку</b></label>
                <textarea class="js-textarea" placeholder="вставьте ссылку" name="name" required></textarea>
            
            </form>
        </div>
        <div class="button-container">
            <button onclick="append_course.py" class="button">Добавить</button>
        </div>
    </center>
</section>
{% endblock %}
