{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="/CSS/task-style.css">
</head>
<section>
        <div class="task-container">
            <center>
                <h1 class="task-name">{{ task['name'] }}</h1>
                <h1 class="limits">(Время: {{ task['time_limit'] }}сек.; Память: {{ task['memory_limit'] }}Мб.)</h1>
            </center>
            <hr style="border: grey 0.5px solid;">
            <h1>Текст задачи:</h1>
            <h1 class="text">{{ task['task_condition'] }}</h1>
            <hr style="border: grey 0.5px solid;">
            {% if task['input_text'] %}
            <h1>Входные данные:</h1>
            <h1 class="text">{{ task['input_text'] }}</h1>
            <hr style="border: grey 0.5px solid;">
            {% endif %}
            {% if task['output_text'] %}
            <h1>Входные данные:</h1>
            <h1 class="text">{{ task['output_text'] }}</h1>
            <hr style="border: grey 0.5px solid;">
            {% endif %}
            <h1>Примеры:</h1>
            <hr style="border: black 2px solid;">
            {% for i in task['tests'] %}
                <h1 class="text">ввод: {{ i['input'] }}</h1>
                <hr style="border: grey 0.5px solid;">
                <h1 class="text">вывод: {{ i['output'] }}</h1>
                <hr style="border: black 2px solid;">
            {% endfor %}
            <label for="email" class="task-text"><b>введите решение задачи:</b></label>
            <textarea class="js-textarea" placeholder="Введите решение задачи" name="name" required></textarea>
            <div class="submit-task">
                <button class="submit">Отправить решение</button>
            </div>
            {% if task['note'] %}
            <h1>Примечание:</h1>
            <h1 class="text">{{ task['note'] }}</h1>
            {% endif %}
        </div>
    <div class="line"></div>
</section>
{% endblock %}
