.password{
    font-size: 500%;
    font-weight: bolder;
    color: #007765;
    margin-top: 10%;
}
.line{
    border: none;
    border-top: 5px dotted #007765;
    color: #fff;
    height: 5px;
    width: 100%;
}
