.href_url{
    width: 16%;
    color: #007765;
    font-weight: bold;
    transition: 0.5s;
    font-size: larger;
}
.href_url:hover{
    background-color: #007765;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
}
.task_url{
    width: 16%;
    color: #007765;
    font-weight: bold;
    transition: 0.5s;
    font-size: larger;
}
.task_url:hover{
    background-color: #007765;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
}
.name-tasks{
    font-weight: bold;
    color: black;
}
.name-hrefs{
    font-weight: bold;
    color: black;
}

.slava_s4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.task_text {
    align-items: center;
}
.line{
    border: none;
    border-top: 5px dotted #007765;
    color: #fff;
    height: 5px;
    width: 100%;
}
.icon-pencil{
    width: 4%;
    height: 15%;
}